# Configuración inicial de PySpark

In [ ]:
!pip install pyspark

# Creación de una nueva sesión spark

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

spark = SparkSession.builder.master('local[*]').appName('pyspark-test').getOrCreate()
sc = SparkContext.getOrCreate()

# Lectura de datos California Housing

En estos pasos leemos un csv en un dataframe y mostramos información básica como varias filas del dataframe y el schema inferido al cargar dichos datos.

In [ ]:
df = spark.read.csv('sample_data/california_housing_train.csv', inferSchema = True, header = True)

In [ ]:
df.show(5)

In [ ]:
df.printSchema()

# Uso de Select

In [ ]:
df.select('population', 'median_income').show(2)

# Uso de Filter

In [ ]:
# Uso con formato cadena
df.filter('population > 1000').show()

In [ ]:
# Uso mediante atributos del dataframe

In [ ]:
# Uso de filtros compuestos con formato cadena

In [ ]:
# Uso de filtros compuestos mediante atributos del dataframe

# Añadir columnas

In [ ]:
df.withColumn('latitude_longitude', df.latitude * df.longitude).show()

In [ ]:
df_ll = df.withColumnRenamed('longitude', 'long').withColumnRenamed('latitude', 'lat')

# Funciones SQL
En esta sección aplicamos varias funciones a las columnas del dataframe utilizando agg para crear una agregación de columnas.

In [ ]:
from pyspark.sql.functions import sum, avg

df.agg(sum('median_house_value'), avg('median_house_value')).show()

+-----------------------+-----------------------+
|sum(median_house_value)|avg(median_house_value)|
+-----------------------+-----------------------+
|           3.52411551E9|     207300.91235294117|
+-----------------------+-----------------------+

In [ ]:
from pyspark.sql.functions import count

df.agg(count('housing_median_age')).show()

+-------------------------+
|count(housing_median_age)|
+-------------------------+
|                    17000|
+-------------------------+

In [ ]:
from pyspark.sql.functions import countDistinct

df.agg(countDistinct('housing_median_age')).show()

+-------------------------+
|count(housing_median_age)|
+-------------------------+
|                       52|
+-------------------------+

In [ ]:
from pyspark.sql.functions import sum, when

df.agg(sum(when(df['housing_median_age'] > 15, 1).otherwise(0))).show()

+----------------------------------------------------------+
|sum(CASE WHEN (housing_median_age > 15) THEN 1 ELSE 0 END)|
+----------------------------------------------------------+
|                                                     14275|
+----------------------------------------------------------+

In [ ]:
df.filter(df.latitude > 40).agg(sum(when(df['population'] > 1000, df.population).otherwise(0))).show()

+-------------------------------------------------------------+
|sum(CASE WHEN (population > 1000) THEN population ELSE 0 END)|
+-------------------------------------------------------------+
|                                                     227602.0|
+-------------------------------------------------------------+

In [ ]:
df.filter((df.latitude > 40) & (df.population > 1000)).agg(sum(df.population).alias('sum_population')).show()

+--------------+
|sum_population|
+--------------+
|      227602.0|
+--------------+

# Creando vistas para trabajar con SQL sobre los datos de un dataframe

In [ ]:
df.sort('housing_median_age').createOrReplaceTempView('hma_ordered')

In [ ]:
spark.sql('select * from hma_ordered').show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -120.93|   37.65|               1.0|     2254.0|         328.0|     402.0|     112.0|         4.25|          189200.0|
|   -122.0|   38.23|               1.0|     2062.0|         343.0|     872.0|     268.0|       5.2636|          191300.0|
|  -121.35|   38.46|               2.0|     6992.0|        1132.0|    2816.0|     984.0|       4.3879|          144400.0|
|  -117.62|   33.64|               2.0|     7826.0|         893.0|    2985.0|     790.0|      10.1531|          484100.0|
|  -117.61|   33.63|               2.0|     4678.0|         817.0|    1970.0|     712.0|       6.1078|          219000.0|
|  -117.65|   33.58|               2.0|     2411.0|         354.0|     703.0|     217.0|       7.8061|          331400.0|
|  -117.16|   33.57|               2.0|    20391.0|        3245.0|    7132.0|    2716.0|       3.9443|          187300.0|
|  -117.68|   33.57|               2.0|    10008.0|        1453.0|    3550.0|    1139.0|      10.1122|          500001.0|
|  -117.17|   33.66|               2.0|     7401.0|        1187.0|    2826.0|     839.0|       4.1386|          177300.0|
|   -117.7|   33.56|               2.0|     2112.0|         305.0|     703.0|     261.0|       6.9343|          298500.0|
|  -117.23|   33.83|               2.0|     1424.0|         251.0|     681.0|     192.0|       4.0833|          100000.0|
|   -117.7|   33.51|               2.0|     5261.0|         763.0|    1460.0|     599.0|       6.8279|          279000.0|
|  -117.26|   33.19|               2.0|     2629.0|         509.0|    1044.0|     522.0|       4.2361|          158500.0|
|  -117.71|   33.58|               2.0|     2530.0|         562.0|    1066.0|     510.0|       4.6336|          187500.0|
|  -117.28|   34.06|               2.0|     1658.0|         290.0|     868.0|     304.0|       5.1365|          136700.0|
|  -117.76|   33.81|               2.0|      582.0|          70.0|     199.0|      64.0|       7.1193|          500001.0|
|   -117.5|   34.12|               2.0|    11965.0|        1802.0|    4436.0|    1296.0|        5.285|          191700.0|
|  -117.78|   33.97|               2.0|      556.0|          63.0|     179.0|      54.0|       8.4411|          500001.0|
|  -117.58|    34.0|               2.0|     7544.0|        1516.0|    2801.0|    1001.0|       4.0037|          245200.0|
|  -118.01|   34.55|               2.0|     2701.0|         530.0|    1368.0|     430.0|        4.071|          137400.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col
df.sort(col('households').desc()).createOrReplaceTempView('hh_order_desc')

In [ ]:
spark.sql('select count(longitude) from hh_order_desc').show()

+----------------+
|count(longitude)|
+----------------+
|           17000|
+----------------+

In [ ]:
spark.sql('select longitude from hh_order_desc where total_bedrooms > 1000').count()

1576

In [ ]:
spark.sql('select count(longitude) from hh_order_desc where total_bedrooms > 1000').show()

+----------------+
|count(longitude)|
+----------------+
|            1576|
+----------------+

In [ ]:
df.select('longitude', 'latitude').filter(df.longitude > 33).agg(sum(df.latitude), avg(df.longitude)).show()

+-------------+--------------+
|sum(latitude)|avg(longitude)|
+-------------+--------------+
|         null|          null|
+-------------+--------------+

In [ ]:
df_bmi = df.withColumn('big_median_income', df.median_income > 5.2636).filter(col('big_median_income'))

In [ ]:
df_bmi.agg(sum(when(df_bmi.big_median_income, 1).otherwise(0))).show()

+--------------------------------------------------+
|sum(CASE WHEN big_median_income THEN 1 ELSE 0 END)|
+--------------------------------------------------+
|                                              3105|
+--------------------------------------------------+

In [ ]:
df.filter((df.latitude > 33) & (df.latitude <= 34)).agg(sum(df.latitude).alias('sum_latitude')).show()

+-----------------+
|     sum_latitude|
+-----------------+
|139155.3799999997|
+-----------------+

In [ ]:
df.filter('latitude > 33 and latitude <= 34').agg(sum(df.latitude), avg(df.longitude)).show()

+-----------------+-----------------+
|    sum(latitude)|   avg(longitude)|
+-----------------+-----------------+
|139155.3799999997|-117.875031553398|
+-----------------+-----------------+

In [ ]:
from pyspark.sql.functions import avg, sum

df.agg(avg(df.latitude), sum(df.latitude)).show()

+----------------+-----------------+
|   avg(latitude)|    sum(latitude)|
+----------------+-----------------+
|35.6252247058827|605628.8200000059|
+----------------+-----------------+

In [ ]:
df_ratings = spark.read.csv('/content/drive/MyDrive/CursoBigData/BigDataAplicado/movies/ratings_small.csv', inferSchema = True, header = True)

In [ ]:
df_ratings.show(10)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|     31|   2.5|1260759144|
|     1|   1029|   3.0|1260759179|
|     1|   1061|   3.0|1260759182|
|     1|   1129|   2.0|1260759185|
|     1|   1172|   4.0|1260759205|
|     1|   1263|   2.0|1260759151|
|     1|   1287|   2.0|1260759187|
|     1|   1293|   2.0|1260759148|
|     1|   1339|   3.5|1260759125|
|     1|   1343|   2.0|1260759131|
+------+-------+------+----------+
only showing top 10 rows

In [ ]:
df_metadata = spark.read.csv('/content/drive/MyDrive/CursoBigData/BigDataAplicado/movies/movies_metadata.csv', inferSchema = True, header = True)

In [ ]:
df_metadata.show(2)

+-----+---------------------+--------+--------------------+--------------------+----+---------+-----------------+--------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+---------+-----+------------+----------+
|adult|belongs_to_collection|  budget|              genres|            homepage|  id|  imdb_id|original_language|original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|  revenue|runtime|    spoken_languages|  status|             tagline|    title|video|vote_average|vote_count|
+-----+---------------------+--------+--------------------+--------------------+----+---------+-----------------+--------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+---------+-----+------------+----------+
|False| {'id': 10194, 'na...|30000000|[{'id': 16, 'name...|http://toystory.d...| 862|tt0114709|               en|     Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|  1995-10-30|373554033|   81.0|[{'iso_639_1': 'e...|Released|                null|Toy Story|False|         7.7|      5415|
|False|                 null|65000000|[{'id': 12, 'name...|                null|8844|tt0113497|               en|       Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|  1995-12-15|262797249|  104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|  Jumanji|False|         6.9|      2413|
+-----+---------------------+--------+--------------------+--------------------+----+---------+-----------------+--------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+---------+-----+------------+----------+
only showing top 2 rows

In [ ]:
spark.sql('SELECT * FROM hh_order_desc').show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -121.79|   36.64|              11.0|    32627.0|        6445.0|   28566.0|    6082.0|       2.3087|          118800.0|
|  -117.74|   33.89|               4.0|    37937.0|        5471.0|   16122.0|    5189.0|       7.4947|          366300.0|
|  -117.78|   34.03|               8.0|    32054.0|        5290.0|   15507.0|    5050.0|       6.0191|          253900.0|
|  -117.42|   33.35|              14.0|    25135.0|        4819.0|   35682.0|    4769.0|       2.5729|          134400.0|
|  -117.34|   33.98|              10.0|    17286.0|        4952.0|    9851.0|    4616.0|       1.7579|          103400.0|
|  -118.46|    34.4|              12.0|    25957.0|        4798.0|   10475.0|    4490.0|        4.542|          195300.0|
|  -121.68|   36.72|              12.0|    19234.0|        4492.0|   12153.0|    4372.0|       3.2652|          152800.0|
|  -117.12|   33.52|               4.0|    30401.0|        4957.0|   13251.0|    4339.0|       4.5841|          212300.0|
|  -118.52|   34.17|              20.0|    17377.0|        4457.0|    7450.0|    4204.0|       3.2154|          259600.0|
|  -117.87|   34.04|               7.0|    27700.0|        4179.0|   15037.0|    4072.0|       6.6288|          339700.0|
|  -118.72|   34.14|               7.0|    23866.0|        4407.0|    9873.0|    4012.0|       5.4032|          318500.0|
|   -118.1|   34.57|               7.0|    20377.0|        4335.0|   11973.0|    3933.0|       3.3086|          138100.0|
|  -118.78|   34.16|               9.0|    30405.0|        4093.0|   12873.0|    3931.0|       8.0137|          399200.0|
|  -118.43|   34.43|               5.0|    21113.0|        4386.0|    9842.0|    3886.0|       4.2037|          194600.0|
|  -117.61|    34.1|               9.0|    18956.0|        4095.0|   10323.0|    3832.0|       3.6033|          132600.0|
|  -118.55|   34.41|               8.0|    21086.0|        3945.0|    9936.0|    3790.0|       5.8602|          265100.0|
|  -117.59|   34.13|              10.0|    20263.0|        3915.0|    9716.0|    3744.0|       3.8505|          169600.0|
|  -121.92|   37.53|               7.0|    28258.0|        3864.0|   12203.0|    3701.0|       8.4045|          451100.0|
|  -118.09|   34.68|               4.0|    23386.0|        4171.0|   10493.0|    3671.0|       4.0211|          144000.0|
|  -118.43|   33.96|              16.0|    14891.0|        3984.0|    6270.0|    3595.0|       5.1064|          283200.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows